<div id="donor-signup">
  <div class="panel-body login-panel">
  <h3>Sign up as a Donor</h3>
  <br />
  <form ng-submit="DonorAuthCtrl.signup()">
    <p>
      Enter your username:
    </p>
    <br />
      <input class="center-block form-control login-input" type="text" ng-model="DonorAuthCtrl.signupObj.username" required/>
    <br />
    <p>
      Enter your password:
    </p>
    <br />
      <input class="center-block form-control login-input" type="text" ng-model="DonorAuthCtrl.signupObj.password" required/>
      <br />
    <button class="center-block btn profile-button">Login</button>
  </form>
  <p>
    <a href="/auth/facebook">Or, log in with facebook</a>
  </p>
  <p>
    Don't have an account?
    <a href="#donor/signup">Sign up!</a>
  </p>
  </div>
</div>
